 
 body{
        margin: 0px auto;
      }
 


 .main{
    
    
 }

.firstmain{
    float: left;

    width:50%;
    height:650px;
    text-align: center;
    margin:0px auto;
    margin-top:-200px;
    
}

.secoundmain{
    background-image: url(transparent.avif);
    width:50%;
    height:650px;
    float:right;
    margin-top:-150px;
    text-align: center;
    margin:0px auto;
    margin-top:-200px;
    
}
.innerfirstmain{
    margin-top:50px;
  
}

::placeholder{
    font-size:10px;
    position: relative;
    bottom:20px;
    color:black;
}



.innersecoundmain{
    margin-top:90px;
}



input{
    
height: 50px;
width: 430px;
border: none;
outline: none;




}
i{
    
}







 





.dropdown{
    height: 200px;
}
#laun2ch{
    font-size: 25px;
}

.m1{
    padding: 7px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(200, 235, 200);
    font-size: 15px;
    color: rgb(76, 185, 76);
    position: absolute;
    right:92%;
}
.m2{
    padding: 7px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(200, 235, 200);
    font-size: 15px;
    color: rgb(76, 185, 76);
    position: absolute;
    right:92%;
   
}
.m3{
    padding: 7px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(200, 235, 200);
    font-size: 15px;
    color: rgb(76, 185, 76);
    position: absolute;
    right:1161px;
    top:50%;
    
}
mark{
    background: rgb(18, 18, 18);
    color:white;
    border-radius: 3px 3px 3px 3px;
    padding:3px;
}
#note1{
    font-size:14px;
  text-align: left;
  margin-left:120px;
 
}
#note2{
    font-size: 14px;
    text-align: left;
    margin-left:120px;
   
  

}
#note3{
    font-size: 14px;
    text-align: left;
    margin-left:120px;
   

}
#highgrowth{
    font-size: 17px;
    color: rgba(89, 86, 86, 0.719);
    margin-top:30px;
   
}
.j1{

    opacity: 0.5;
    position: relative;
    left:35px;
    
   
}
.j2{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:70px;
    left:-15px;
   
    
}
.j3{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:70px;
     left:30px;
    

}
.j4{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:70px;
    left:75px;
  
    
}
.j5{
    opacity:0.5;
    color: #27441d;
    position: relative;
    left:15px;
    
    
    
   
    
}
.j6{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:-25px;
     left:-15px;
   
    
}
.j7{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:-25px;
    left:15px;
   
 

}
img{
    width: 100%;
}

#free{
    font-size:13px;
}
#getstarted{
    font-size: 27px;
    margin-right:20 0px;

  
    
    


}


#lastnote{
    font-size: 13px;
    float: left;
    margin-left:100px;
  
}
#last1{
    font-size: 13px;
    float: left; 
    margin-left:100px;
    
}





#username:hover{
    background: rgb(185, 169, 169);
}
#email:hover{
    background: rgb(185, 169, 169);
}
#password:hover{
    background: rgb(185, 169, 169);
}
#confirmPassword:hover{
    background: rgb(185, 169, 169);
}
#nametag{
    transform: translate(50%);
   
}
#name2{
    transform: translate(50%);
   
}







#goldbu{
    height: 50px;
    width: 430px;
    border: none;
    border-radius: 8px 8px 8px 8px;
    background: gold;
    margin-top:30px;
   
}

#usernameError{
    color: red;
    font-size: 8px;
   
   
   
}
#emailError{
    color: red;
    font-size: 8px;
   
   
    

}
#passwordError{
    color: red;
    font-size: 8px;

   
}
#confirmPasswordError{
    color: red;
    font-size: 8px;
    
   
}


















@media screen and (max-width: 768px){



    

     .firstmain{
        display: block;
        width:100%;
        text-align: center;
        margin-left:-40px;
      
       
       
    }


    .secoundmain{
        text-align: center;
        margin:0px auto;
        background-image: none;
        margin-right:100px;
       margin-top:-200px;
      
    
       
       
        
    }

    input{
    
        height: 50px;
        width: 230px;
        border: none;
        outline: none;
        display:block;
        box-shadow: 0px 0px 10px black;
       -webkit-appearance:none;
        
        
        }
        #registrationForm{
           position: relative;
           top:30px;
        }


        #goldbu{
            height: 50px;
            width: 230px;
            border: none;
            border-radius: 8px 8px 8px 8px;
            background: gold;
            margin-top:30px;
           
        } 

        #laun2ch{
            font-size:16px; 
            margin-right:-90px;
        }

        
        #note1 {
            font-size:11px; 
            margin-left:70px;    
        }
        #note2 {
            font-size:11px; 
            margin-left:70px;    
        }
        #note3 {
            font-size:11px;  
            margin-left:70px;    
        }
body{
    width:80%;
    text-align: center;
    margin:0px auto;
   
}
.main{
    width:100%;
    text-align: center;
    margin: 0px auto;
    display: block;
    white-space: nowrap;
    font-size:10px;
}

#lastnote{
    position:relative;
    right:125px;
    top:30px;
    
}
#last1{
  font-size:10px;
    position:relative;
    right:160px;
    top:30px;
}

#free{
    font-size:12px;
  position: absolute;
  left:7%;
}

#getstarted{
    margin-left:-10px;
}

#highgrowth{
   position: relative;
   left:42px;
}


.j1{

    opacity: 0.5;
    position: relative;
    top:20px;
    left:105px;
   
   
}
.j2{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:70px;
    left:28px;

    
   
    
}
.j3{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:70px;
    left:60px;
    

}
.j4{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:70px;
    left:90px;
  
    
}
.j5{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:20px;
    left:-35px;
    
   
    
}
.j6{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:20px;
    left:5px;
   
    
}
.j7{
    opacity:0.5;
    color: #27441d;
    position: relative;
    top:70px;
    left:-15px;

}

.m1{
    margin-right:-23px;
}
.m2{
    margin-right:-23px;
}
.m3{
    position: relative;
    top:20px;
    left:-189px;
}


i{
    margin-left:-15px;
}
#usernameError{
   position: absolute;
   right:67%;
   
   
   
}
#emailError{
    position: absolute;
   right:40%;
   
   
    

}
#passwordError{
    
    position: absolute;
    right:54%;
   
}
#confirmPasswordError{
    position: absolute;
    bottom:20%;
   
    
   
}


}