.backgrounding{
    background-image:url(anchor-lee-kO1G3neRA2o-unsplash.jpg);
    height:105vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#animallogo{
    font-size: 68px;
    color: rgb(33, 174, 33);
}


.m1 {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  padding: 7px;
  font-size: 20px;
  
}
h3{
  font-size:17px;
}





body{
  margin: 0px auto;
}
.thebig{
  margin: 0px auto;
  text-align: center;
  background: white;
  width: 40%;
  box-shadow: 0px 0px 2px rgb(10, 10, 10);
  margin-top:-35px;
}
.thebig .forinnerbig{
  text-align: center;
  width: 70%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.forinnerbig img{
  width: 20%;
  text-align: center;
  margin: 0px auto -15px auto;
}

.forinnerbig h1{
  font-family: cursive;
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
}
.forinnerbig .imp{
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(53, 53, 53);
  margin-bottom: 40px;
}
.forinnerbig .button{
  height: 45px;
  width: 270px;
  background: none;
  border-radius: 5px;
  border: 1px solid rgb(209, 209, 209);
  padding: 10px 0px;
  margin: 0px auto;
  text-align: center;
}
.forinnerbig input{
  height: 45px;
  width: 270px;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid rgb(209, 209, 209);
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
}
.forinnerbig input~button{
  height: 45px;
  width: 270px;
  border-radius: 5px;
  background: #008F26;
  padding: 15px 10px;
  border: none;
  color: white;
  font-size: 17px;
  margin-bottom: 30px;
}
.forinnerbig div{
  color: rgb(88, 88, 88);
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 35px;
}
.forinnerbig div~p{
  color: rgb(88, 88, 88);
  font-family: sans-serif;
  font-size: 13px;
}
.forinnerbig a{
  text-decoration: none;
  color: green;
  margin-bottom: 30px;
}
.terms{
  font-size:12px;
  text-align: center;
}
#check{
  height:13px;
  width:20px;
}



@media screen and (max-width: 768px) {
  .thebig{
     margin: 0px auto;
     text-align: center;
     background: white;
     width: 100%;
     box-shadow: 0px 0px 10px black;
  }
  .thebig .forinnerbig{
     text-align: center;
     margin: 0px auto;
     display: flex;
     flex-direction: column;
  }

  .terms{
    font-size:8px;
   margin-top:-20px;
  }

  .dropdown{
    display:none ;
  }
  .backgrounding{
    height:100%;
  }



}
   