.backgrounding{
    background-image:url(anchor-lee-kO1G3neRA2o-unsplash.jpg);
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.whitebox{
    width: 550px;
    height: 690px;
}

.dropdown{
    position: fixed;
    bottom:600px;
}

#animallogo{
    font-size: 68px;
    color: rgb(33, 174, 33);
    position: relative;
    left:220px;
    
    
    
}
#evernote1{
    font-size: 50px;
    position: relative;
    left:160px;
    
}
#smallnote{
    font-size: 18px;
    position:relative;
    left: 125px;
    
    
}

.m1 {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    padding: 7px;
    font-size: 20px;
    
  }
  .m2{
    padding: 7px;
    font-size: 20px;
  }
  #button1{
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px ;
    width: 290px;
    height: 40px;
    background: white;
    position: relative;
    top:50px;
    left: 110px;

    
    
  }
  #button1:hover{
background:rgb(221, 212, 212);
  }
  #button2:hover{
    background:rgb(221, 212, 212);
    
  }
  #button3:hover{
    background:green;
    
  }
  
  #button2{
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    width: 290px;
    height: 40px;
    background: white;
    margin-bottom: 200px;
    position: relative;
    top:55px;
    left: 110px;
    
    
    
  }
  h1{
    font-size:18px;
    opacity: 0.5;
    position: relative;
    bottom: 130px;
    left: 245px;
    
    

  }

  h1::before{
    content:"" ;
    height: 1px;
    width: 123px;
    background: black;
    position:absolute;
    left:35px;
    top:14px;
    opacity: 0.5;


  }
  h1::after{
    content:"" ;
    height: 1px;
    width: 123px;
    background: black;
    position:absolute;
    left:-139px;
    top:14px;
    opacity: 0.5;

  }
 
    
  .form-control{
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    width: 290px;
    height:40px;
      
    
    
  }

  #email{
    position:relative;
    bottom: 120px;
    left: 105px;
  }
  #emailError{
    font-size: 10px;
    position: absolute;
    top: 64%;
    left:480px;
    color: red;
    position: relative;
    bottom:170px;
    left: 110px;
  }
  
  h3{
    font-size: 16px;
  }
  #button3{
    color: white;
    background: rgb(18, 181, 18);
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    width: 294px;
    height: 46px;
    position: relative;
    bottom:110px;  
    left:102px;  
    
  }
  #check{
    color:grey;
    position: relative;
    bottom:75px;
    left:170px;
     
    
  

  }
  #remember{
    color: grey;
    font-size:15px;
    position: relative;
    bottom: 94px;
    left: 200px;
     
    
    
  }
  #dont{
    color: grey;
    font-size:15px;
    position: relative;
    bottom:65px;
    left:209px;
     
    
    
  }
  #thelink{
    text-decoration: none;
    color:  rgb(18, 181, 18);
    font-size:16px;
    position: relative;
    bottom:75px ;
    left:228px;
     

  
  }
  #terms{
    color: grey;
    font-size:14px;
    position: absolute;
    left: 355px;
     
    
  }   









  @media screen and (max-width: 768px){


    .main{
      height:100%;
    }

    .dropdown{
      position: absolute;
      top:20px;
    }


    body{
      width:50px;
        height:50px;
  
      
    }
    .backgrounding{
        background-image: none;
    }

    

    .whitebox{
    height: 50%;
    width:30px;
    }

    #animallogo{
      font-size: 68px;
      color: rgb(33, 174, 33);
      position: relative;
      left:130px;
      top:25px;
       
  }

  #evernote1{
    font-size: 50px;
    position: relative;
    left:70px;
    top: 10px;
    
}

.kiss{
  position: relative;
  top: 20px;
  right:80px;
}
.kiss1{
  position: relative;
  top: 23px;
  right:80px;
}


#smallnote{
  font-size: 15px;
  position:absolute;
  left: 85px;
  top:170px;
  
  
}

h1{
  font-size:18px;
  opacity: 0.5;
  position: relative;
  bottom:112px;
  left:164px;
}

#email{
  position:relative;
  bottom: 100px;
  left:30px;
}

#button3{
  color: white;
  background: rgb(18, 181, 18);
  border: 1px solid grey;
  border-radius: 6px 6px 6px 6px;
  width: 294px;
  height: 46px;
  position: relative;
  bottom:89px;  
  left:30px;  
  
}

#terms{
  color: grey;
  font-size:16px;
  position: absolute;
  left: 32px;
  bottom:-140px;
   
  
}   


#remember{
  color: grey;
  font-size:13px;
  position: absolute;
  bottom: 95px;
  left: 131px;
   
}

#check{
  color:grey;
  position: absolute;
  bottom:105px;  
  left:109px;
   
}

#dont{
  color: grey;
  font-size:14px;
  position:absolute;
  bottom:45px;
  left:128px;
   
}

#thelink{
  text-decoration: none;
  color:  rgb(18, 181, 18);
  font-size:16px;
  position: absolute;
  bottom:14px;
  left:145px;
   


}

#emailError{
  font-size: 10px;
  position: absolute;
  top: 65%;
  left:300px;
  color: red;
  position: absolute;
  bottom:170px;
  left: 110px;
}
#check,#remember,#dont,#thelink,#terms{
  margin-bottom:250px;
}



    

  
 

 


}

