
.secoundmaim{
   float:right;
   margin-top:-450px;
  margin-right:70px;
   

}
#last{
    text-align: center;
}
#jhh{
    text-align: center;
}
.container-xxl{
    
}
#overflowiconxx{
    display:none;
}
























@media screen and (max-width: 896px){
    

    .secoundmaim{
       
        display:block;
        float: none !important;

        margin:0px auto;
        
        
    }


   .firstsecxx{
    display:none;
   }

   #forg{
    text-align: center;
   }

   #writeup{
    text-align: center;
   }

   #last{
    text-align: center;
   }

   #registrationForm{
    margin-top:50px;
   }


   #overflowiconxx{
    display:inline;
}

#overflowiconxx ::after{
    content: "\a";
    white-space: pre;
}



}