.dropdown{
    position: absolute;
    top: 35px;
    left: 500px;
}
img{
    width: 100%;
}
#overf{
    width:480px;
    height: 645px;
    position: absolute;
    bottom:3px;
    left:1px;
}
#overflowicon{
    transform: translate(50%);
    position: absolute;
    left:-55px;
    bottom:595px;
}
#smallwrite{
    font-size: 28px;
    transform: translate(50%);
    position: absolute;
    left:-85px;
    bottom:425px;
}
#writeup{
    font-size:15px;
    transform: translate(50%);
    position: absolute;
    left: 497px;
    bottom:400px;
}
#last{
    transform: translate(50%);
    position: absolute;
    left: 720px;
    bottom:378px;
}
h2{
    font-size: 40px;
    transform: translate(50%);
    position: absolute;
    left: 500px;
    bottom:439px;
}
#name2{
    transform: translate(50%);
    position: absolute;
    left: 485px;
    bottom:280px;
}
#email{
    height: 50px;
    width: 430px;
    border: 1px solid grey;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
#companytag{
    position: absolute;
    bottom: 63px;
}
#sendbu{
    color: grey;
    height: 50px;
    width: 430px;
    border: none;
    border-radius: 8px 8px 8px 8px;
    transform: translate(50%);
    position: absolute;
    left: 485px;
    bottom:200px;
}
#emailError{
    font-size: 15px;
    color: red;
    position: absolute;
    right:235px;
    top:55px;
}
#lastone{
    text-decoration: none;
    position: absolute;
    right:180px;
    top:205px;
}












@media (max-width:768px){


    .secoundmaim{
        height:100%;
        width:50%;
           
    }

    


   body{
    width: 50%;
    height:100%;
   }

    .dropdown{
        position: absolute;
        left:240px;
        top:40px;
    }

    
    #overf{

        display: none;

    }
    #overflowicon{
        transform: translate(50%);
        position: absolute;
        left:-65px;
        bottom:550px;
    }
    #smallwrite{
        display: none;
    }
    #writeup{
        font-size: 11px;
        transform: translate(50%);
        position: absolute;
        left:-145px;
        bottom:398px;
    }
    #last{
        font-size:12px;
        position: absolute;
        left:35px;
        bottom:375px;
    }
   
    #name2{
    
        position: absolute;
        left:-190px;
        bottom:260px;
    }
    #email{
        height: 50px;
        width: 330px;
        border: 1px solid grey;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        left:210px;
        bottom:20px;
    }
    #companytag{
        position: absolute;
        left:215px;
        bottom:70px;
    }
   
    #sendbu{
        color: grey;
        height: 50px;
        width: 330px;
        border: none;
        border-radius: 8px 8px 8px 8px;
        position: absolute;
        left:-145px;
        bottom:200px;
    }
    #emailError{
        font-size:13px;
        color: red; 
        position:absolute;
        left:220px;
        top:-10px;
        white-space: nowrap;

        
    }
    

    h2{
        font-size:22px;
        position: absolute;
        left:-55px;
    }

    #lastone{
        white-space: nowrap;
        position:absolute;
        left:318px;
        top:100px;
       
      
    }

    
}

